*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    display: block;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

#container{
    position:absolute;
}

header{
    position: fixed;
}

li{
    list-style: none;
}

