*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    display: block;
}

body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.container{
    position:absolute;
}

header{
    z-index:10;
}

section{
    z-index: 1;
}

header{
    position: fixed;
}

li{
    list-style: none;
}

.carousel-item img{
    border-radius: 8px;
}
